mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "О нас"
      },
      {
        href: "#",
        text: "Услуги"
      },
      {
        href: "#",
        text: "Контакты"
      },

    ]

  header.header(class=headerMods)
    .header__wrapper
      .header__banner
        picture
          source(type="image/webp" srcset="img/content/banner-desktop.webp")
          img.header__banner-img(src="img/content/banner-desktop.jpeg", srcset= "img/content/banner-desktop@2x.jpeg2x", width= "1920", height= "804", alt= "Баннер")

      .header__content
        +header-contacts
        +navbar
        .header__content-wrapper
          .container
            h2 ЭФФЕКТИВНЫЙ РЕМОНТ - НАШ ПРИОРИТЕТ
            h1 РЕМОНТ ГИДРАВЛИЧЕСКОГО ОБОРУДОВАНИЯ
            p Наша компания уже больше 20 лет занимается ремонтом гидравлического оборудования,<br>сервисом и ремонтом гидравлических систем специализированной техники.
